

.modal-footer {
  justify-content: flex-start;
}

.contact-list-wrap {
  max-height: 300px;
  overflow-y: scroll;
  min-width: 466px;
  max-width: 466px;
}

.contact-list-wrap li:hover {
  cursor: pointer;
}

.modal-body img {
  display: none;
  width: 25px;
}

.modal-body img.loading {
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 50%;
}

.list-group.contact-list-wrap li p {
  margin: 0;
}