$button-a-color: #46139f;
$button-b-color: #ff7f50;

#main-component,
#main-component > div{
  height: 100vh;
}

button.test-btn:first-of-type{
  margin-right: 1rem;
}

button.test-btn.btn-a,
button.test-btn.btn-a:focus,
button.test-btn.btn-a:active{
  border-color: $button-a-color !important;
  background-color: $button-a-color !important;
  box-shadow: none !important;
  outline:none !important;
}

button.test-btn.btn-b,
button.test-btn.btn-b:focus,
button.test-btn.btn-b:active{
  border-color: $button-b-color !important;
  background-color: $button-b-color !important;
  box-shadow: none !important;
  outline:none !important;
}